@import _settings
@import foundation
@import compass/css3/columns

::selection
	background: #666
	color: #fff

::-moz-selection
	background: #ddd
	color: #fff

.current-menu-item
	@extend .active

.main
	+grid-row()

.sub-nav
	margin-top: rem-calc(16)

.post, article.page, .paging-navigation
	+grid-column(12)

// .entry-title
// 	margin-top: -(rem-calc(36))
// 	a 
// 		padding: 0 rem-calc(16) 0 rem-calc(8)
// 		background: white

.featured
	// .large-block-grid-3
	// +block-grid($per-row: 3, $spacing: 0, $base-style: true)
	// margin-bottom: rem-calc(20)

.post-thumbnail
	position: relative
	display: block
	img
		// -webkit-transition: all .8s ease-in-out
	h2
		position: absolute
		width: 100%
		bottom: 5px
		font-size: rem-calc(38)
		color: white
		padding-left: rem-calc(12)
		opacity: 0
		// -webkit-transition: all .8s ease-in-out

.post-thumbnail:hover
	img
		-webkit-filter: grayscale(0.5) brightness(.5)
	h2
		opacity: 1

.entry-meta
	margin-bottom: rem-calc(16)
	font-weight: 100
	a, .featured-post
		font-height: rem-calc(16)
		font-size: rem-calc(14)

.entry-header img
	margin-bottom: rem-calc(16)

.recipes
	+column-count(5)
	+column-width(150px)
	+column-gap(0)

	img
		width: 100% !important
		height: auto !important

// Comment form

.comment-list
	list-style-type: none
	margin-left: 0
	.children
		list-style-type: none

// .comment-respond, .comments-area
// 	+grid-row

// .comment-form, .comment-reply-title
// 	+grid-column(12)

input[name=submit], .comment-reply-link
	+button

@media #{$medium-only}
	.post-thumbnail h2
		font-size: rem-calc(18)